*{
  font-family: "Geist", sans-serif;
}
.active-tab {
             background-color: #3b82f6 
             !important; color: white 
             !important; border-color: #3b82f6 
             !important;
}